<form [formGroup]="loginForm" (submit)="submit()">
  <input class="" formControlName="username" type="text">
  <input formControlName="password" type="password">
  <div formArrayName="phones">
    @for (phoneInput of phones.controls; track $index; let i = $index) {
    <div>
      <input [formControlName]="i" type="text" placeholder="Телефон {{i + 1}}">
      <button (click)="removePhone(i)">удалить номер</button>
    </div>
    }
  </div>



  <button (click)="addPhone()">Добавить Телефон</button>

  <button type="submit">Submit</button>


  <div>
    @if (loginForm.invalid && loginForm.touched) {
    <p>Ошибка</p>
    }
  </div>
</form>